<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Расписание Дубна-Москва</h1>
    </ion-header-bar>
    <ion-content>
    <div class="card">
        <div class="item item-text-wrap">
            <p>Здравствуйте! Надеюсь, что это приложение поможет вам сэкономить пару-другую минут в поисках расписания.</p>
            <p>Программа полностью бесплатна и всё такое, но очень рекомендуется следить за обновлениями в Google Play. Конечно же, разработчик приложения не несет ответственности за корректность расписания. Расписание может меняться на 2-3 минуты в ту или другую сторону. Приходите на остановку пораньше.</p>
            <p>Несколько советов:<br/>
                Старайтесь приходить на автобусную остановку пораньше, во избежание нехватки мест. За 5-10 минут мест, как правило, не остается.<br/ >
                Если вы едете из Институтской части на электричке или с Левого берега на автобусе - приходите на остановку на 15-20 минут раньше.
            </p>
            <p>Вокзал для поездки в Дубну - Савеловский (станция метро Савеловская). <a href='' ng-click="showbus=!showbus">Остановка для автобусов</a> находится рядом с вокзалом, на въезде на Дмитровское шоссе.</p>
            <button class="button button-full button-calm" ng-click="closeModal()">
  Спасибо, всё понятно!
</button>
            <img src="img/dubnabus.jpg" ng-show="showbus" ng-click="showbus=!showbus">
        </div>
    </div>
    </ion-content>
  </ion-modal-view>